.reviews {
    position: relative;
    padding: 60px 0 45px;
    &-decoration {
        position: absolute;
        bottom: 0;
        right: 10px;
        z-index: -1;
    }
    &-ava-wrapper {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        overflow: hidden;
    }
    &-ava {
        width: 100%;
    }
    &-name {
        font-weight: 700;
        font-size: 16px;
        color: #0b5563;
    }
    &-info {
        max-width: 455px;
    }
    &-title {
        font-weight: 600;
        font-size: 40px;
        color: #0b5563;
        margin: 14px 0;
    }
    &-text {
        font-weight: 500;
        font-size: 20px;
        color: #0b5563;
    }
    &-wrapper {
        margin-top: 32px;
        display: flex;
        align-items: start;
        gap: 20px;
        flex-wrap: wrap;
    }
    &-block {
        background: #e9f2f8;
        padding: 26px 17px 42px;
        display: flex;
        align-items: start;
        gap: 20px;
        box-sizing: border-box;
        font-family: 'Gilroy';
        border-radius: 10px;
    }
    &-more {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    &-subtitle {
        font-weight: 500;
        font-size: 20px;
        color: #101010;
    }
    &-time {
        font-weight: 500;
        font-size: 16px;
        color: rgba(0, 0, 0, 0.5);
    }
    &-descr {
        font-weight: 400;
        font-size: 16px;
        color: #101010;
        span {
            color: #3C91D7;
            cursor: pointer;
        }
    }
}
@media screen and (max-width:1255px) {
    .reviews {
        &-wrapper {
            justify-content: center;
        }
    }
}
@media screen and (max-width:970px) {
    .reviews {
        &-block {
            padding: 24px 15px;
            align-items: start;
        }
    }
}
@media screen and (max-width:810px) {
    .reviews {
        &-block {
            max-width: 100%;
        }
    }
}
@media screen and (max-width:695px) {
    .reviews-info {
        max-width: 320px;
    }
}
@media screen and (max-width:505px) {
    .reviews {
        &-text {
            display: none;
        }
        &-name {
            font-size: 16px;
        }
        &-title {
            margin: 12px 0 18px;
            font-size: 20px;
            font-weight: 800;
        }
        &-subtitle {
            font-size: 18px;
        }
        &-time {
            font-size: 14px;
        }
        &-descr {
            font-size: 15px;
        }
        &-info {
            max-width: 200px;
        }
        
        
    }
}
@media screen and (max-width:380px) {
    .reviews {
       
            
        &-block {
            display: block;
        }
        &-ava {
            float: left;
            margin-right:15px;
        }
        &-more {
            flex-direction: column;
            align-items: unset;
            margin-top: 35px;
        }
        &-descr {
        }
    }
}